{% set name = "Pepofiles" %}
{% set motto = "A small safe worth protecting." %}
{% set description = "A pomf-like file uploading service that doesn't suck." %}
{% set keywords = "upload,lolisafe,file,images,hosting,bobby,fiery" %}

{# Used in home.njk and nojs.njk #}
{% set home_subtitle = "<strong>uuuuooooohhhh</strong>" %} {# HTML supported #}

{# Used in faq.njk and cookiepolicy.njk #}
{% set root_domain = "pepofiles.ddns.net" %}
{% set whole_faq = root_domain + " website and sub-domains" %}
{% set whole_cookie = "This site and " + root_domain + " website and sub-domains" %}
{% set email = "bobby@fiery.me" %}

{% set fork_repo = "https://github.com/BobbyWibowo/lolisafe" %}
{% set fork_host = "GitHub" %}
{% set fork_issues = fork_repo + "/issues/new/choose" %}

{% set takedowns_url = "https://pepofiles.ddns.net/takedowns" %}
{% set server_location = "" %} {# HTML supported #}
{% set support = false %} {# HTML supported #}

{% set enable_faq_banned_categories = false %}
{% set enable_faq_tor = false %}

{# Enabling the option below will hide FAQ categories which are irrelevant for personal installation #}
{% set is_for_personal_use = true %}

{#
  These are the footer links in the homepage and the No-JS uploader (home.njk & nojs.njk respectively).
  In the homepage uploader, they will be displayed as icons,
  but you can choose to display them as texts by setting "home_icons" to false.
  It will then use the text in "attrs.title" of each links.
  Note: No-JS uploader page will have icons disabled by default (it will also not load fontello.css).
#}
{% set home_icons = true %}
{% set home_links = [
  {
    attrs: {
      title: 'Home',
      href: 'http://pepofiles.ddns.net'
    },
    icon: 'icon-home icon-2x'
  },
  {
    attrs: {
      title: 'Dashboard',
      href: 'auth'
    },
    icon: 'icon-gauge icon-2x'
  },
  {
    attrs: {
      title: 'GitHub',
      href: 'https://github.com/BobbyWibowo/lolisafe',
      target: '_blank',
      rel: 'noopener'
    },
    icon: 'icon-github-circled icon-2x'
  }
] %}
